<!-- firebox header -->
<header>
    @Html.Widget("header")
    <div class="app-header">
        <div class="app-header__spacer"></div>
        <!--导航-->
        <div class="app-header__top-bar">
            <!--mobile-->
            <div class="app-header__mobile-menu">
                <i class="btr bt-bars bt-lg"></i>
            </div>
            <!--左侧导航 新品 分类-->
            <div class="app-header__top-bar-left">
                @Html.Action("Logo", "Common")
                @Html.Action("TopMenu", "Catalog")
            </div>
            <!--/左侧导航 新品 分类-->
            <!--右侧导航 登陆 搜索-->
            <div class="app-header__top-bar-right">
                @Html.Action("HeaderLinks", "Common")
                @*@Html.Action("FlyoutShoppingCart", "ShoppingCart")*@
            </div>
            <!--/右侧导航 登陆 搜索-->
        </div>
        <!--/导航-->
        
    </div>
</header>
